.body{
    height: 100vh;
    background-image: url(../img/reg_bg_min.jpg);
}
.Rame{
    margin: 100px;
    padding: 30px;
    float: right;
    width: 300px;
    border-radius: 10px;
    background-color: #ffffff;
}
.login-form-button{
    width: 100%;
}